<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>NBA predictor</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home </a></li>
            <li><a href="/playin">PlayIn</a></li>
            <li><a href="/playoffs">PlayOffs</a></li>
        </ul>
    </nav>
    <div class="container">
        <p> Welcome to the the NBA playIn and playOff Simulator. This simulator projects
            the end of regular season NBA standings using team's remaining Strength of Schedule
            along with their offensive and defensive stats. 
        </p>
        <p> The play in tournament and playoffs are simulated using
            a variety of team stats, from offensive points per game to opponent turnovers,
            along with accounting for home court advantage.
        </p>
        <p>
            Click on the PlayIn 
            button to simulate the Play In Tournament or feel free to skip
            ahead and simulate the NBA playoffs by clicking PlayOffs.
        </p> 
    </div>
    <footer></footer>
</body>
</html>